# Data Science Tools and Ecosystem

## Author
Karthikeya Kakarlapudi

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- List popular languages in data science
- List commonly used libraries in data science
- List commonly used data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. MATLAB

Some of the commonly used libraries used by Data Scientists include:   
1. Pandas
2. NumPy
3. Matplotlib
4. scikit-learn

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [8]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335